In [4]:
import pandas as pd
import numpy as np

# 1. 원본 파일 읽기 (44버전)
df_raw = pd.read_csv("../output_data/투자지표_44.csv")

# 2. 0행 = 지표 이름이 들어 있는 행 (기업별 컬럼 머리글)
metric_row = df_raw.iloc[0]

# 3. 2행부터가 실제 데이터 → 이 부분만 따로 사용
#    1행(날짜 행)은 버리고, 인덱스 리셋
df = df_raw.iloc[2:].copy().reset_index(drop=True)

# 4. '기업' 컬럼에 날짜가 들어 있으므로, 이걸 Date로 사용
df = df.rename(columns={"기업": "Date"})

# 필요하면 날짜형으로 변환
# df["Date"] = pd.to_datetime(df["Date"])

# 5. 우리가 평균 내고 싶은 지표 이름 (결과 컬럼 이름)
metrics = [
    "부채비율(%)", "유동비율(%)", "이자보상\n배수(배)", "ROE(%)", "PSR(배)", "PER(배)",
    "PBR(배)", "PCR(배)", "SPS(달러)", "DPS(달러)", "EPS(달러)", "BPS(달러)",
    "CPS(달러)", "ROA(%)", "ROIC(%)"
]

# 결과 dict에 우선 Date 넣기
avg_results = {"Date": df["Date"]}

# 6. 각 지표별로, 0행(metric_row)을 보고 해당 지표에 해당하는 컬럼들을 찾아서
#    행 기준 평균을 계산
for metric in metrics:
    # 0행에서 문자열에 metric이 포함된 컬럼들 선택
    #  예: "자기자본이익률\nROE(%)" 안에 "ROE(%)" 포함
    cols = metric_row[metric_row.astype(str).str.contains(metric, regex=False)].index

    if len(cols) == 0:
        # 혹시 못 찾으면 NaN으로 채움
        avg_results[metric] = pd.Series([np.nan] * len(df))
        continue

    # 해당 지표 컬럼들만 추출
    sub_df = df[cols].replace(['-', 'N/A', 'na', 'nan', 'None', ' '], np.nan)

    # 숫자로 변환
    sub_df = sub_df.apply(pd.to_numeric, errors="coerce")

    # 행 단위 평균
    avg_results[metric] = sub_df.mean(axis=1, skipna=True)

# 7. 최종 DataFrame 만들기
avg_df = pd.DataFrame(avg_results)

C:\Users\samsung\AppData\Local\Temp\ipykernel_17968\9532307.py:5: DtypeWarning: Columns (1,2,4,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,124,125,126,127,128,129,130,131,132,133,134,135,136,139,140,141,142,143,144,145,146,147,148,149,150,151,153,154,155,156,157,158,159,160,161,162,163,164,165,166,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,454,455,456,457,458,459,460,461,462,463,464,465,466,467,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,497,498,500,501,503,504,505,506,507,508,509,510,511,512,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,679,680,681,682,683,684,685,686,687,688,689,690,692,693,695,696,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv("../output_data/투자지표_44.csv")
C:\Users\samsung\AppData\Local\Temp\ipykernel_17968\9532307.py:43: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sub_df = df[cols].replace(['-', 'N/A', 'na', 'nan', 'None', ' '], np.nan)
C:\Users\samsung\AppData\Local\Temp\ipykernel_17968\9532307.py:43: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sub_df = df[cols].replace(['-', 'N/A', 'na', 'nan', 'None', ' '], np.nan)
C:\Users\samsung\AppData\Local\Temp\ipykernel_17968\9532307.py:43: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sub_df = df[cols].replace(['-', 'N/A', 'na', 'nan', 'None', ' '], np.nan)
C:\Users\samsung\AppData\Local\Temp\ipykernel_17968\9532307.py:43: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sub_df = df[cols].replace(['-', 'N/A', 'na', 'nan', 'None', ' '], np.nan)
C:\Users\samsung\AppData\Local\Temp\ipykernel_17968\9532307.py:43: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sub_df = df[cols].replace(['-', 'N/A', 'na', 'nan', 'None', ' '], np.nan)

In [5]:
avg_df

,Date,부채비율(%),유동비율(%),이자보상\n배수(배),ROE(%),PSR(배),PER(배),PBR(배),PCR(배),SPS(달러),DPS(달러),EPS(달러),BPS(달러),CPS(달러),ROA(%),ROIC(%)
0,2022-11-07,403.258929,159.370588,25.434783,26.109091,4.288814,29.475254,11.644286,29.772373,55.195254,2.177966,6.406780,38.125593,12.635254,8.800000,17.843103
1,2022-11-08,403.258929,159.370588,25.434783,26.109091,4.288814,29.475254,11.644286,29.772373,55.195254,2.177966,6.406780,38.125593,12.635254,8.800000,17.843103
2,2022-11-09,403.258929,159.370588,25.434783,26.109091,4.288814,29.475254,11.644286,29.772373,55.195254,2.177966,6.406780,38.125593,12.635254,8.800000,17.843103
3,2022-11-10,403.258929,159.370588,25.434783,26.109091,4.288814,29.475254,11.644286,29.772373,55.195254,2.177966,6.406780,38.125593,12.635254,8.800000,17.843103
4,2022-11-11,403.258929,159.370588,25.434783,26.109091,4.288814,29.475254,11.644286,29.772373,55.195254,2.177966,6.406780,38.125593,12.635254,8.800000,17.843103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,2025-11-03,302.910714,156.676471,32.022727,48.900000,9.110508,57.209831,14.815893,26.317288,69.308136,2.895254,10.008814,49.845593,11.579831,12.547458,26.120339
1093,2025-11-04,302.910714,156.676471,32.022727,48.900000,9.110508,57.209831,14.815893,26.317288,69.308136,2.895254,10.008814,49.845593,11.579831,12.547458,26.120339
1094,2025-11-05,302.910714,156.676471,32.022727,48.900000,9.110508,57.209831,14.815893,26.317288,69.308136,2.895254,10.008814,49.845593,11.579831,12.547458,26.120339
1095,2025-11-06,302.910714,156.676471,32.022727,48.900000,9.110508,57.209831,14.815893,26.317288,69.308136,2.895254,10.008814,49.845593,11.579831,12.547458,26.120339
1096,2025-11-07,302.910714,156.676471,32.022727,48.900000,9.110508,57.209831,14.815893,26.317288,69.308136,2.895254,10.008814,49.845593,11.579831,12.547458,26.120339

In [6]:
# 8. 저장
output_path = "../output_data/투자지표_555_평균.csv"
avg_df.to_csv(output_path, index=False, encoding="utf-8-sig")

print(f"평균 계산 완료.\n저장 경로: {output_path}")

평균 계산 완료.
저장 경로: ../output_data/투자지표_555_평균.csv