In [1]:
import pandas as pd

환경변수_TNX_병합 코드

In [2]:
# 파일 읽기
df_tnx = pd.read_csv("../raw_data/tnx.csv")
df_env = pd.read_csv("../raw_data/external_environment_variable.csv")


# 1) 환경 변수 파일의 Date를 timezone-aware로 읽기 (utc 강제)
df_env["Date"] = pd.to_datetime(df_env["Date"], utc=True, errors="coerce")

# 2) 타임존 제거 → 날짜만 추출 가능
df_env["Date"] = df_env["Date"].dt.tz_convert("UTC").dt.tz_localize(None)

# 3) 날짜만 남기기
df_env["Date"] = df_env["Date"].dt.date
df_env["Date"] = pd.to_datetime(df_env["Date"])   # datetime 통일

# 4) tnx의 Date도 통일
df_tnx["Date"] = pd.to_datetime(df_tnx["Date"], errors="coerce")
df_tnx["Date"] = df_tnx["Date"].dt.date
df_tnx["Date"] = pd.to_datetime(df_tnx["Date"])

# 5) Outer Join
merged = pd.merge(df_env, df_tnx, on="Date", how="outer")

# 6) 날짜 정렬
merged = merged.sort_values("Date")

In [3]:
merged

,Date,DX-Y.NYB_Close,GC=F_Close,GLD_Close,SHY_Close,TLT_Close,^VIX_Close,GC=F_Volume,GLD_Volume,SHY_Volume,...,^VIX_Volatility,DX-Y.NYB_Volatility,TLT_Volatility,GC=F_Volatility,GLD_Volatility,SHY_Volatility,WTI_Spot,PAYEMS,UNRATE,TNX (%)
0,2022-11-07,110.120003,1676.500000,155.850006,80.610001,93.279999,24.350000,42.0,4425700.0,4391400.0,...,1.330000,1.219994,1.620003,5.000000,0.760010,0.040001,91.80,154210.0,3.6,0.4214
1,2022-11-08,109.620003,1712.099976,159.449997,80.690002,94.300003,25.540001,23.0,11299600.0,7092100.0,...,1.920000,1.239998,1.190002,8.900024,3.889999,0.070000,88.80,154210.0,3.6,0.4126
2,2022-11-09,110.550003,1710.099976,158.649994,80.820000,94.610001,26.090000,497.0,6040600.0,4587600.0,...,1.330000,1.190002,1.329994,14.199951,1.900009,0.139999,85.79,154210.0,3.6,0.4151
3,2022-11-10,108.209999,1750.300049,163.479996,81.260002,98.250000,23.530001,325.0,9939900.0,6631600.0,...,3.750000,3.279999,1.790001,42.100098,1.849991,0.129997,86.52,154210.0,3.6,0.3829
4,2022-11-11,106.290001,1766.000000,164.559998,81.239998,97.889999,22.520000,257.0,4622400.0,4246000.0,...,1.539999,2.160004,0.830002,8.400024,1.160004,0.110001,89.14,154210.0,3.6,0.3813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,2025-11-03,99.870003,4000.300049,368.779999,82.720001,89.739998,17.170000,0.0,7254300.0,5418800.0,...,1.830000,0.279999,0.400002,61.000000,3.299988,0.040001,61.79,159540.0,4.3,0.4106
753,2025-11-04,100.220001,3947.699951,362.320007,82.750000,89.940002,19.000000,657.0,11540100.0,6502000.0,...,2.580000,0.520004,0.320000,68.000000,4.349976,0.029999,61.38,159540.0,4.3,0.4089
754,2025-11-05,100.199997,3980.300049,366.510010,82.690002,88.959999,18.010000,559.0,8357300.0,3952600.0,...,2.710001,0.300003,0.670006,53.600098,2.450012,0.080002,60.40,159540.0,4.3,0.4157
755,2025-11-06,99.730003,3979.899902,366.070007,82.790001,89.760002,19.500000,650.0,6891100.0,3725200.0,...,2.670000,0.440002,0.320000,27.600098,3.479980,0.050003,60.24,159540.0,4.3,0.4093
756,2025-11-07,99.599998,3999.399902,368.309998,82.830002,89.570000,19.080000,245.0,11060400.0,2942900.0,...,3.639999,0.470001,0.510002,18.599854,4.000000,0.070000,60.54,159540.0,4.3,0.4093

In [4]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 757 non-null    datetime64[ns]
 1   DX-Y.NYB_Close       756 non-null    float64
 2   GC=F_Close           756 non-null    float64
 3   GLD_Close            754 non-null    float64
 4   SHY_Close            754 non-null    float64
 5   TLT_Close            754 non-null    float64
 6   ^VIX_Close           754 non-null    float64
 7   GC=F_Volume          756 non-null    float64
 8   GLD_Volume           754 non-null    float64
 9   SHY_Volume           754 non-null    float64
 10  TLT_Volume           754 non-null    float64
 11  ^VIX_Volatility      754 non-null    float64
 12  DX-Y.NYB_Volatility  756 non-null    float64
 13  TLT_Volatility       754 non-null    float64
 14  GC=F_Volatility      756 non-null    float64
 15  GLD_Volatility       754 non-null    float64
 16  SHY_Volatility       754 non-null    float64
 17  WTI_Spot             757 non-null    float64
 18  PAYEMS               757 non-null    float64
 19  UNRATE               757 non-null    float64
 20  TNX (%)              754 non-null    float64
dtypes: datetime64[ns](1), float64(20)
memory usage: 124.3 KB

In [5]:
# 결과 저장
merged.to_csv("../raw_data/환경변수_TNX_병합.csv", index=False)

### 기준금리 추가

In [18]:
import os

print(os.listdir("../raw_data"))

['-2022-2023-2024-2025.csv', 'CPIAUCSL.csv', 'external_environment_variable.csv', 'tnx.csv', '기준금리.csv', '기준금리.xlsx', '주식 데이터.csv', '투자지표', '투자지표-ver.csv', '환경 변수.csv', '환경변수_TNX_병합.csv']

In [19]:
import pandas as pd

# 1. 파일 로드
df_env = pd.read_csv('../raw_data/환경변수_TNX_병합.csv', encoding='utf-8')
df_rate = pd.read_csv('../raw_data/기준금리.csv', encoding='utf-8')

# 2. 날짜 컬럼 정리 및 기준 날짜 컬럼 생성

# SPY_주식데이터 날짜 처리 (시간 정보 및 타임존 제거 후 날짜 형식 변환)
# 변환 과정을 단계별로 나누어 Time Zone을 확실히 제거합니다.
dt_series = pd.to_datetime(df_env['Date'], utc=True) # 1. UTC 기준 datetime64[ns, UTC]
dt_series = dt_series.dt.tz_localize(None) # 2. Time Zone 정보 제거 -> datetime64[ns] (Naive)
df_env['Date'] = dt_series.dt.normalize() # 3. 시간 정보 제거 (00:00:00으로 통일)

# 다른 데이터 파일 날짜 형식 변환 (이들은 datetime64[ns] (Naive) 형태가 됩니다.)
df_rate['Date'] = pd.to_datetime(df_rate['Date'])


# 3. 데이터 병합 및 값 채우기 (선행 발표 값 포함)

def merge_and_fill(df_main, df_announce, value_col_name):
    """
    발표 날짜와 주식 데이터 날짜를 모두 기준으로 삼아 병합하고,
    선행 발표 값을 ffill로 채우는 함수
    """

    # 3-1. 발표 데이터프레임 정리
    df_announce = df_announce.rename(columns={df_announce.columns[1]: value_col_name})
    df_announce = df_announce[['Date', value_col_name]]

    # 값 컬럼의 공백 제거 및 float 변환
    if df_announce[value_col_name].dtype == 'object':
        df_announce[value_col_name] = df_announce[value_col_name].astype(str).str.replace(r'[^\d\.\-]', '', regex=True)
        df_announce[value_col_name] = pd.to_numeric(df_announce[value_col_name], errors='coerce')

    # --- 핵심 수정: 모든 날짜를 기준으로 합니다. ---
    # 주식 데이터 날짜와 발표 데이터 날짜를 모두 합쳐 정렬된 모든 날짜 시계열을 만듭니다.
    all_dates = pd.concat([df_main['Date'], df_announce['Date']]).drop_duplicates().to_frame()

    # 3-2. 발표 데이터를 모든 날짜에 left join 합니다.
    # 이렇게 하면 2022-09-30과 같은 선행 발표일도 포함됩니다.
    df_merged = pd.merge(all_dates, df_announce, on='Date', how='left')

    # 3-3. 날짜를 기준으로 정렬하고, ffill을 적용하여 선행 발표 값을 채웁니다.
    df_merged = df_merged.sort_values(by='Date').reset_index(drop=True)
    df_merged[value_col_name] = df_merged[value_col_name].ffill()

    # 3-4. 원래 주식 데이터프레임에 최종 결과 병합
    # 병합 후에는 주식 데이터에 없는 행(선행 발표일)은 자동 제외됩니다.
    df_main = pd.merge(df_main, df_merged[['Date', value_col_name]], on='Date', how='left')

    return df_main

# 병합 작업 순차적 실행
df_final = df_env.copy()

# 기준금리 병합
df_final = merge_and_fill(df_final, df_rate, '기준금리')


# 4. 결과 확인 및 저장
print(df_final.head(10))
print("\n--- 최종 데이터프레임 정보 ---")
print(df_final.info())

# 최종 결과 CSV 파일로 저장
output_file = '../raw_data/top60_기준금리추가.csv'
df_final.to_csv(output_file, index=False)
print(f"\n최종 데이터는 '{output_file}' 파일로 저장되었습니다.")

        Date  DX-Y.NYB_Close   GC=F_Close   GLD_Close  SHY_Close   TLT_Close  \
0 2022-11-07      110.120003  1676.500000  155.850006  80.610001   93.279999
1 2022-11-08      109.620003  1712.099976  159.449997  80.690002   94.300003
2 2022-11-09      110.550003  1710.099976  158.649994  80.820000   94.610001
3 2022-11-10      108.209999  1750.300049  163.479996  81.260002   98.250000
4 2022-11-11      106.290001  1766.000000  164.559998  81.239998   97.889999
5 2022-11-14      106.660004  1773.599976  164.919998  81.169998   97.650002
6 2022-11-15      106.400002  1773.800049  165.500000  81.250000   99.230003
7 2022-11-16      106.279999  1773.000000  165.119995  81.260002  101.400002
8 2022-11-17      106.690002  1760.800049  163.919998  81.160004  100.330002
9 2022-11-18      106.930000  1751.900024  162.789993  81.070000   99.639999

   ^VIX_Close  GC=F_Volume  GLD_Volume  SHY_Volume  ...  DX-Y.NYB_Volatility  \
0   24.350000         42.0   4425700.0   4391400.0  ...             1.219994
1   25.540001         23.0  11299600.0   7092100.0  ...             1.239998
2   26.090000        497.0   6040600.0   4587600.0  ...             1.190002
3   23.530001        325.0   9939900.0   6631600.0  ...             3.279999
4   22.520000        257.0   4622400.0   4246000.0  ...             2.160004
5   23.730000        358.0   6187600.0   7192100.0  ...             0.789993
6   24.540001         57.0   9903500.0  21231100.0  ...             1.760002
7   24.110001        303.0   3645800.0   8253300.0  ...             0.919998
8   23.930000         18.0   4574400.0   5450000.0  ...             1.139999
9   23.120001        414.0   4321100.0   4372600.0  ...             0.700005

   TLT_Volatility  GC=F_Volatility  GLD_Volatility  SHY_Volatility  WTI_Spot  \
0        1.620003         5.000000        0.760010        0.040001     91.80
1        1.190002         8.900024        3.889999        0.070000     88.80
2        1.329994        14.199951        1.900009        0.139999     85.79
3        1.790001        42.100098        1.849991        0.129997     86.52
4        0.830002         8.400024        1.160004        0.110001     89.14
5        0.900002        12.000000        1.090012        0.059998     85.85
6        1.190002         3.900024        1.669998        0.080002     86.87
7        1.709999         5.900024        0.880005        0.060005     85.62
8        0.790001         7.000000        0.710007        0.070000     81.69
9        1.339996        15.700073        1.010010        0.110001     80.07

     PAYEMS  UNRATE  TNX (%)  기준금리
0  154210.0     3.6   0.4214   4.0
1  154210.0     3.6   0.4126   4.0
2  154210.0     3.6   0.4151   4.0
3  154210.0     3.6   0.3829   4.0
4  154210.0     3.6   0.3813   4.0
5  154210.0     3.6   0.3865   4.0
6  154210.0     3.6   0.3799   4.0
7  154210.0     3.6   0.3692   4.0
8  154210.0     3.6   0.3775   4.0
9  154210.0     3.6   0.3818   4.0

[10 rows x 22 columns]

--- 최종 데이터프레임 정보 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 757 non-null    datetime64[ns]
 1   DX-Y.NYB_Close       756 non-null    float64
 2   GC=F_Close           756 non-null    float64
 3   GLD_Close            754 non-null    float64
 4   SHY_Close            754 non-null    float64
 5   TLT_Close            754 non-null    float64
 6   ^VIX_Close           754 non-null    float64
 7   GC=F_Volume          756 non-null    float64
 8   GLD_Volume           754 non-null    float64
 9   SHY_Volume           754 non-null    float64
 10  TLT_Volume           754 non-null    float64
 11  ^VIX_Volatility      754 non-null    float64
 12  DX-Y.NYB_Volatility  756 non-null    float64
 13  TLT_Volatility       754 non-null    float64
 14  GC=F_Volatility      756 non-null    float64
 15  GLD_Volatility       754 non-null    float64
 16  SHY_Volatility       754 non-null    float64
 17  WTI_Spot             757 non-null    float64
 18  PAYEMS               757 non-null    float64
 19  UNRATE               757 non-null    float64
 20  TNX (%)              754 non-null    float64
 21  기준금리                 757 non-null    float64
dtypes: datetime64[ns](1), float64(21)
memory usage: 130.2 KB
None

최종 데이터는 '../raw_data/top60_기준금리추가.csv' 파일로 저장되었습니다.

In [20]:
df_final

,Date,DX-Y.NYB_Close,GC=F_Close,GLD_Close,SHY_Close,TLT_Close,^VIX_Close,GC=F_Volume,GLD_Volume,SHY_Volume,...,DX-Y.NYB_Volatility,TLT_Volatility,GC=F_Volatility,GLD_Volatility,SHY_Volatility,WTI_Spot,PAYEMS,UNRATE,TNX (%),기준금리
0,2022-11-07,110.120003,1676.500000,155.850006,80.610001,93.279999,24.350000,42.0,4425700.0,4391400.0,...,1.219994,1.620003,5.000000,0.760010,0.040001,91.80,154210.0,3.6,0.4214,4.0
1,2022-11-08,109.620003,1712.099976,159.449997,80.690002,94.300003,25.540001,23.0,11299600.0,7092100.0,...,1.239998,1.190002,8.900024,3.889999,0.070000,88.80,154210.0,3.6,0.4126,4.0
2,2022-11-09,110.550003,1710.099976,158.649994,80.820000,94.610001,26.090000,497.0,6040600.0,4587600.0,...,1.190002,1.329994,14.199951,1.900009,0.139999,85.79,154210.0,3.6,0.4151,4.0
3,2022-11-10,108.209999,1750.300049,163.479996,81.260002,98.250000,23.530001,325.0,9939900.0,6631600.0,...,3.279999,1.790001,42.100098,1.849991,0.129997,86.52,154210.0,3.6,0.3829,4.0
4,2022-11-11,106.290001,1766.000000,164.559998,81.239998,97.889999,22.520000,257.0,4622400.0,4246000.0,...,2.160004,0.830002,8.400024,1.160004,0.110001,89.14,154210.0,3.6,0.3813,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,2025-11-03,99.870003,4000.300049,368.779999,82.720001,89.739998,17.170000,0.0,7254300.0,5418800.0,...,0.279999,0.400002,61.000000,3.299988,0.040001,61.79,159540.0,4.3,0.4106,4.0
753,2025-11-04,100.220001,3947.699951,362.320007,82.750000,89.940002,19.000000,657.0,11540100.0,6502000.0,...,0.520004,0.320000,68.000000,4.349976,0.029999,61.38,159540.0,4.3,0.4089,4.0
754,2025-11-05,100.199997,3980.300049,366.510010,82.690002,88.959999,18.010000,559.0,8357300.0,3952600.0,...,0.300003,0.670006,53.600098,2.450012,0.080002,60.40,159540.0,4.3,0.4157,4.0
755,2025-11-06,99.730003,3979.899902,366.070007,82.790001,89.760002,19.500000,650.0,6891100.0,3725200.0,...,0.440002,0.320000,27.600098,3.479980,0.050003,60.24,159540.0,4.3,0.4093,4.0
756,2025-11-07,99.599998,3999.399902,368.309998,82.830002,89.570000,19.080000,245.0,11060400.0,2942900.0,...,0.470001,0.510002,18.599854,4.000000,0.070000,60.54,159540.0,4.3,0.4093,4.0

환경변수_통합

In [ ]:
import pandas as pd
import numpy as np

def update_cpi_by_release_date(df_final_path, df_cpi_path, df_release_path, output_path):
    print("데이터 로드 및 전처리 시작...")

    # 1. 파일 로드
    df_cpi = pd.read_csv(df_cpi_path)
    df_release = pd.read_csv(df_release_path)
    df_final = pd.read_csv(df_final_path)

    # --- CPIAUCSL 데이터 정리 ---
    df_cpi['Date'] = pd.to_datetime(df_cpi['observation_date'])
    df_cpi = df_cpi.rename(columns={'CPIAUCSL': 'New_CPIAUCSL'})
    df_cpi = df_cpi.set_index('Date')['New_CPIAUCSL'] # Series로 변환

    # --- 발표일 데이터 파싱 함수 ---
    def format_release_date(date_str, year):
        if '발표 예정' in date_str:
            return None

        # '1/12(2023)' 같은 형식 처리
        if '(' in date_str:
            month_day, yr_suffix = date_str.replace(')', '').split('(')
            try:
                year = int(yr_suffix)
            except ValueError:
                pass # 연도 파싱 오류 시 기본 연도 사용
        else:
            month_day = date_str

        try:
            month, day = map(int, month_day.split('/'))
            return pd.to_datetime(f'{year}-{month}-{day}')
        except ValueError:
            return None

    # --- 발표일 (Announcement Date)과 기준 월 CPI 값 매핑 ---
    release_dates = {}
    df_release = df_release.set_index('기준 월')

    for col in df_release.columns:
        if '발표일' in col:
            base_year = int(col.split('년')[0])

            for month_idx, month_name in enumerate(df_release.index, 1):
                date_str = df_release.loc[month_name, col]

                # 1. 발표일 (Announcement Date) 계산
                release_dt = format_release_date(date_str, base_year)
                if release_dt is None:
                    continue

                # 2. CPI의 기준일 (CPI Base Date) 계산
                cpi_key = pd.to_datetime(f'{base_year}-{month_idx:02d}-01')

                if cpi_key in df_cpi.index:
                    cpi_value = df_cpi.loc[cpi_key]
                    # '발표일': 'CPI 값' 형태로 저장
                    release_dates[release_dt] = cpi_value

    # 발표일 데이터를 날짜 순으로 정렬하여 DataFrame 생성 (CPI 변경 시점)
    sorted_release_dates = sorted(release_dates.items())
    df_change_points = pd.DataFrame(sorted_release_dates, columns=['Date', 'Updated_CPIAUCSL'])

    # --- final_merged_y_close 데이터에 CPIAUCSL 값 업데이트 (ffill 방식) ---
    print("CPI 값 업데이트 적용 중...")

    df_final['Date'] = pd.to_datetime(df_final['Date'])
    df_final = df_final.set_index('Date').sort_index()

    # 1. 초기 CPI 값 (가장 오래된 발표일 이전의 값) 설정
    first_announcement_date = df_change_points['Date'].min()
    # 첫 발표일 직전의 마지막 월별 CPI 값을 초기값으로 설정
    initial_cpi_key = df_cpi[df_cpi.index < first_announcement_date].index.max()

    if pd.isna(initial_cpi_key):
        print("경고: 초기 CPI 값을 설정할 수 없습니다. CPI 데이터의 시작 날짜를 확인하세요.")
        initial_cpi_value = np.nan
    else:
        initial_cpi_value = df_cpi.loc[initial_cpi_key]

    # 2. change_points와 df_final의 날짜를 병합하여 업데이트 데이터프레임 생성
    df_updates = df_final.copy()
    df_updates['Updated_CPIAUCSL'] = np.nan
    df_updates = df_updates.combine_first(
        df_change_points.set_index('Date')
    )

    # 3. 정렬 및 초기값 채우기
    df_updates = df_updates.sort_index()

    # 첫 번째 발표일 이전에 있는 날짜에 초기 CPI 값 적용
    df_updates.loc[df_updates.index < first_announcement_date, 'Updated_CPIAUCSL'] = initial_cpi_value

    # 4. ffill(Forward Fill)을 사용하여 발표일 이후의 모든 날짜에 값을 채움
    df_updates['Updated_CPIAUCSL'] = df_updates['Updated_CPIAUCSL'].ffill()

    # 5. 원래 df_final의 날짜만 남기고 CPIAUCSL 컬럼 업데이트
    # 새로운 컬럼으로 추가
    df_final['CPIAUCSL'] = df_updates.loc[df_final.index, 'Updated_CPIAUCSL']
    df_final = df_final.reset_index() # 'Date' 컬럼 복원

    # 6. 결과 저장
    df_final.to_csv(output_path, index=False)
    print(f"CPIAUCSL 값이 업데이트된 파일이 '{output_path}'로 저장되었습니다.")
    return df_final

# --- 코드 사용 예시 ---

# # 사용자님의 파일 이름을 그대로 사용하여 함수 실행
updated_df = update_cpi_by_release_date(
    df_final_path='../raw_data/top60_기준금리추가.csv',
    df_cpi_path='../raw_data/CPIAUCSL.csv',
    df_release_path='../raw_data/-2022-2023-2024-2025.csv',
    output_path='../output_data/환경변수_통합.csv'
)
# print("\n업데이트된 DataFrame의 일부 (선택 사항):")
print(updated_df[['Date', 'CPIAUCSL']].head())
print(updated_df[['Date', 'CPIAUCSL']].tail())

데이터 로드 및 전처리 시작...
CPI 값 업데이트 적용 중...
CPIAUCSL 값이 업데이트된 파일이 '../output_data/환경변수_통합.csv'로 저장되었습니다.
        Date  CPIAUCSL
0 2022-11-07   298.708
1 2022-11-08   298.708
2 2022-11-09   298.708
3 2022-11-10   297.979
4 2022-11-11   297.979
          Date  CPIAUCSL
752 2025-11-03   324.368
753 2025-11-04   324.368
754 2025-11-05   324.368
755 2025-11-06   324.368
756 2025-11-07   324.368

In [22]:
updated_df.columns

Index(['Date', 'DX-Y.NYB_Close', 'GC=F_Close', 'GLD_Close', 'SHY_Close',
       'TLT_Close', '^VIX_Close', 'GC=F_Volume', 'GLD_Volume', 'SHY_Volume',
       'TLT_Volume', '^VIX_Volatility', 'DX-Y.NYB_Volatility',
       'TLT_Volatility', 'GC=F_Volatility', 'GLD_Volatility', 'SHY_Volatility',
       'WTI_Spot', 'PAYEMS', 'UNRATE', 'TNX (%)', '기준금리', 'CPIAUCSL'],
      dtype='object')

In [ ]:
# updated_df = updated_df.drop(columns=['DX-Y.NYB_Volume','^VIX_Volume'])

In [ ]:
# updated_df = updated_df.drop(columns=[col for col in df_env.columns if col.endswith("_AdjClose")])

In [23]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 757 non-null    datetime64[ns]
 1   DX-Y.NYB_Close       756 non-null    float64
 2   GC=F_Close           756 non-null    float64
 3   GLD_Close            754 non-null    float64
 4   SHY_Close            754 non-null    float64
 5   TLT_Close            754 non-null    float64
 6   ^VIX_Close           754 non-null    float64
 7   GC=F_Volume          756 non-null    float64
 8   GLD_Volume           754 non-null    float64
 9   SHY_Volume           754 non-null    float64
 10  TLT_Volume           754 non-null    float64
 11  ^VIX_Volatility      754 non-null    float64
 12  DX-Y.NYB_Volatility  756 non-null    float64
 13  TLT_Volatility       754 non-null    float64
 14  GC=F_Volatility      756 non-null    float64
 15  GLD_Volatility       754 non-null    float64
 16  SHY_Volatility       754 non-null    float64
 17  WTI_Spot             757 non-null    float64
 18  PAYEMS               757 non-null    float64
 19  UNRATE               757 non-null    float64
 20  TNX (%)              754 non-null    float64
 21  기준금리                 757 non-null    float64
 22  CPIAUCSL             757 non-null    float64
dtypes: datetime64[ns](1), float64(22)
memory usage: 136.2 KB